wp-content/uploads/
wp-content/ai1wm-backups/
wp-content/updraft/
wp-content/wflogs/
wp-content/wflogs-old/
wp-content/litespeed/
wp-content/speedycache-config/
wp-content/maintenance/
app/
wp-config.php
local_db_backup.sql
wp-content/*.sql
scratch_node/restore/app/sql/local.sql
website-cleanup-dump/
.idea
.vscode
.DS_Store
*.log
